bz2/
HTML-CSS-JS Prettify/
JSHint Gutter/*
!JSHint Gutter/.jshintrc
PyV8/
Seti_UI/
SublimeREPL/
Theme - Default/
Theme - Soda/
User/.SublimeREPLHistory
User/Package Control*

# Created by https://www.gitignore.io

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json
